<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/syntax-highlight.css">
    <link rel="stylesheet" href="/css/other.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}
      {{ content }}
    </div>
  </body>
</html>
